* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    margin: 0 160px;
    color: #0e0e0e;
    background-color: #f5f5f5;
}

button {
    border-radius: 8px;
}

/* header style */

nav {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    color: #006A50;
    border-color: #006A50;
    padding: 15px 30px;
    background-color: white;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 80px;
}

.banner h2 {
    opacity: 0.5;
    font-weight: 500;
}

.banner h1 {
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
}

.banner button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
}

.banner img {
    width: 474px;
    height: 400px;
}


/* main section styles */

/* pillars section styles */

.pillars h2 {
    font-weight: bold;
    font-size: 40px;
}

.pillar-cards {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.pillar-card {
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid #0e0e0e15;
}

.pillar-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}

.pillar-card p {
    line-height: 24px;
    color: #0e0e0e;
    opacity: 0.7;
}