* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    margin: 0 160px;
    color: #0e0e0e;
    background-color: #f5f5f5;
}

button {
    border-radius: 8px;
}

section h2 {
    font-weight: bold;
    font-size: 40px;
    color: #0e0e0e;
    margin-bottom: 24px;
}

p {
    line-height: 24px;
    color: #0e0e0eb3;
}

.container {
    margin-top: 32px;
}

/* header style */

nav {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    color: #006A50;
    border-color: #006A50;
    padding: 15px 30px;
    background-color: white;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 80px;
}

.banner h2 {
    opacity: 0.5;
    font-weight: 500;
}

.banner h1 {
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 24px;
}

.banner button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #006A80;
    padding: 17px 34px;
    border: 0;
}

.banner img {
    width: 474px;
    height: 400px;
}


/* main section styles */

/* pillars section styles */

.pillar-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.pillar-card {
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid #0e0e0e15;
}

.pillar-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}

/* vision section styles */
.vision-section {
    margin-top: 80px;
    margin-bottom: 32px;
}

.vision-section p {
    margin-top: 24px;
    margin-bottom: 32px;
}

.visions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.vision {
    padding: 32px;
    border-radius: 16px;
}

.vision img {
    margin-bottom: 24px;
}

.vision h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.vision p {
    font-size: 16px;
}

.vision button {
    color: white;
    padding: 11px 20px;
    border: none;
    font-weight: 600;
}

.digital {
    background-color: #5490F533;
}

.digital button {
    background-color: #5490F5;
}

.green {
    background-color: #C6E4D6FF;
}

.green button {
    background-color: #09A15C;
}

.modern {
    background-color: #F7EBCFFF;
}

.modern button {
    background-color: #FFC239;
}

/* Quote from Dr. Mohammad Yunus section */

.yunus-quote {
    background-color: white;
    padding: 48px 24px;
    margin-bottom: 80px;
    border-radius: 16px;
    border: 2px solid #0e0e0e15;
    background: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 24px 24px;
}

.quote {
    margin-bottom: 12px;
}

.yunus-quote h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0e0e0ecc;
}

.designation {
    color: #0e0e0e99;
}

/* Your opinion section */
.your-opinion table {
    border-color: #0a0a0a26;
    width: 100%;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 80px;
}

.your-opinion th {
    background-color: #C6E4D6;
    border: 0;
    padding: 24px;
}

.your-opinion th:nth-of-type(1) {
    text-align: left;
}

.your-opinion th:nth-of-type(2) {
    text-align: right;
}

.your-opinion td {
    padding: 24px;
}

.your-opinion td:nth-of-type(2) {
    text-align: right;
    width: 15%;
}

.your-opinion select {
    padding: 12px;
    gap: 0;
    background-color: #C6E4D6;
}


/* recent news section */
.recent-news p {
    margin-bottom: 32px;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.news img {
    border-radius: 24px;
}

.news h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0ecc;
    margin-bottom: 12px;
}

.date-and-time {
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}

.news-description {
    margin-bottom: 32px;
}

.news button {
    background-color: #006A50;
    color: white;
    padding: 13px 26px;
}

#news-2 {
    flex-direction: row-reverse;
}